*{
    margin: 0;
}



#container {
    margin: 0 auto;
    max-width: 1080px;
}

 /*header*/

#patter{
    background-color: #00b4d8;
    background-image: url(../img/pattern.png);
    background-size: 300px;
}

#logo {
    width: 200px;
    height: 100px;
    padding: 10px;
}

img{
    margin-top: 25px;

}
/*main*/
h1{
    margin-top: 10px;
    font-size: 38px;
}

.autore {
    font-size: 15px;
    opacity: 0.5;
}


.date {
    font-size: 10px;
    opacity: 0.5;
}

a{
    color: #00b4d8;
    text-decoration: none;
}

/*immagini tim*/

p{
    margin-top: 10px;
}

.highlighted {
    background-color: yellow;
}

/*lista puntata*/

.list{
    margin-left: -20px;
    
}

.rows{
    margin-left: -20px;
}

section{
    margin-top: 20px;
}

/*tabella*/

th{
    text-align: left;
    background-color: #00b4d8;
    color: white;
}

tr{
    
    width: 100px;
}

td{
    height: 20px;
    width: 360px;
}

.rowsky{
    background-color: skyblue;
}

/*parte finale*/

h3{
    color: rgb(0, 0, 0, 0.5);
    margin-top: 20px;
}

.monitor{
    background-image: url(../img/monitor.jpg);
    background-size: contain;
    width: 250px;
    height: 200px;
    color: white;
}
.grafich{
    background-image: url(../img/graph.jpg);
    background-size: contain;
    width: 250px;
    height: 200px;
    color: white;
    margin-top: 10px;
}